services:
  authentik-server:
    image: ghcr.io/goauthentik/server:latest
    container_name: authentik-server
    command: server
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - {{DATA_ROOT}}/data/authentik/media:/media
      - {{DATA_ROOT}}/data/authentik/custom-templates:/templates
      - {{DATA_ROOT}}/data/authentik/blueprints/custom:/blueprints/custom
    networks:
      - {{DOCKER_NET}}
    depends_on:
      - authentik-redis
    healthcheck:
      test: ['CMD', 'ak', 'healthcheck']
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 60s

  authentik-worker:
    image: ghcr.io/goauthentik/server:latest
    container_name: authentik-worker
    command: worker
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - {{DATA_ROOT}}/data/authentik/media:/media
      - {{DATA_ROOT}}/data/authentik/custom-templates:/templates
      - {{DATA_ROOT}}/data/authentik/blueprints/custom:/blueprints/custom
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - {{DOCKER_NET}}
    depends_on:
      - authentik-redis

  authentik-redis:
    image: redis:alpine
    container_name: authentik-redis
    restart: unless-stopped
    networks:
      - {{DOCKER_NET}}
    healthcheck:
      test: ['CMD-SHELL', 'redis-cli ping | grep PONG']
      interval: 10s
      timeout: 3s
      retries: 3

networks:
  {{DOCKER_NET}}:
    external: true
