services:
  webdav:
    image: ${WEBDAV_IMAGE:-bytemark/webdav:2.4}
    container_name: webdav
    restart: unless-stopped
    environment:
      - AUTH_TYPE=${WEBDAV_AUTH_TYPE}
      - USERNAME=${WEBDAV_USERNAME}
      - PASSWORD=${WEBDAV_PASSWORD}
      - LOCATION=${WEBDAV_LOCATION}
      - ANONYMOUS_METHODS=${WEBDAV_ANONYMOUS_METHODS}
    volumes:
      - {{DATA_ROOT}}/data/webdav/dav:/var/lib/dav
    networks:
      - {{DOCKER_NET}}

networks:
  {{DOCKER_NET}}:
    external: true
