services:
  filebrowser:
    image: filebrowser/filebrowser:v2.63.3
    container_name: filebrowser
    restart: unless-stopped
    volumes:
      - {{DATA_ROOT}}/data/filebrowser/srv:/srv
      - {{DATA_ROOT}}/data/filebrowser/database:/database
    networks:
      - {{DOCKER_NET}}

networks:
  {{DOCKER_NET}}:
    external: true
