services:
  plex:
    image: lscr.io/linuxserver/plex:1.43.1
    container_name: plex
    environment:
      - PUID=${ADMIN_UID}
      - PGID=${ADMIN_GID}
      - TZ=${TZ}
      - VERSION=docker
      - PLEX_CLAIM=${PLEX_CLAIM}
    volumes:
      - {{DATA_ROOT}}/data/plex/config:/config
      - {{DATA_ROOT}}/data/plex/media:/media
    restart: unless-stopped
    networks:
      - {{DOCKER_NET}}

networks:
  {{DOCKER_NET}}:
    external: true
