# Autoheal environment file
# Autoheal only restarts containers that:
# 1) define a working HEALTHCHECK, and
# 2) are labeled: com.rakkib.autoheal=true

AUTOHEAL_CONTAINER_LABEL=com.rakkib.autoheal
AUTOHEAL_INTERVAL=10
AUTOHEAL_START_PERIOD=60
