services:
  n8n:
    image: n8nio/n8n:2.20.9
    container_name: n8n
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - {{DATA_ROOT}}/data/n8n/n8n:/home/node/.n8n
      - {{DATA_ROOT}}/data/n8n/n8nworkflows:/home/node/workflows
    networks:
      - {{DOCKER_NET}}

networks:
  {{DOCKER_NET}}:
    external: true
