version: 1
metadata:
  name: Rakkib - Uptime Kuma Proxy
entries:
  - model: authentik_providers_proxy.proxyprovider
    state: present
    identifiers:
      name: provider-uptime-kuma
    attrs:
      name: provider-uptime-kuma
      authorization_flow: !Find [authentik_flows.flow, [slug, default-provider-authorization-implicit-consent]]
      external_host: "https://{{UPTIME_KUMA_SUBDOMAIN}}.{{DOMAIN}}"
      mode: forward_single

  - model: authentik_core.application
    state: present
    identifiers:
      slug: uptime-kuma
    attrs:
      name: Uptime Kuma
      slug: uptime-kuma
      provider: !Find [authentik_providers_proxy.proxyprovider, [name, provider-uptime-kuma]]
