# Whoogle environment file
WHOOGLE_IMAGE=benbusby/whoogle-search:latest

# Optional: Basic auth
#WHOOGLE_USER=
#WHOOGLE_PASS=

# Optional: Bring Your Own Key (Google Custom Search API)
#WHOOGLE_USE_CSE=1
#WHOOGLE_CSE_API_KEY=
#WHOOGLE_CSE_ID=
