services:
  whoogle:
    image: ${WHOOGLE_IMAGE:-benbusby/whoogle-search:1.2.4}
    container_name: whoogle
    restart: unless-stopped
    env_file: .env
    volumes:
      - {{DATA_ROOT}}/data/whoogle/config:/config
    networks:
      - {{DOCKER_NET}}

networks:
  {{DOCKER_NET}}:
    external: true
