# DailyTxT configuration.
DAILYTXT_IMAGE=phitux/dailytxt:2.6.1

# Secret token used by the server. Keep this stable after first deploy.
SECRET_TOKEN={{DAILYTXT_SECRET_TOKEN}}

# Enable first-user setup. Disable after creating users if you do not want open registration.
ALLOW_REGISTRATION=true
ADMIN_PASSWORD={{DAILYTXT_ADMIN_PASSWORD}}
LOGOUT_AFTER_DAYS=40
INDENT=4
