version: 1
metadata:
  name: Rakkib - Immich Proxy
entries:
  - model: authentik_providers_proxy.proxyprovider
    state: present
    identifiers:
      name: provider-immich
    attrs:
      name: provider-immich
      authorization_flow: !Find [authentik_flows.flow, [slug, default-provider-authorization-explicit-consent]]
      invalidation_flow: !Find [authentik_flows.flow, [slug, default-provider-invalidation-flow]]
      external_host: "https://{{IMMICH_SUBDOMAIN}}.{{DOMAIN}}"
      mode: forward_single

  - model: authentik_core.application
    state: present
    identifiers:
      slug: immich
    attrs:
      name: Immich
      slug: immich
      provider: !Find [authentik_providers_proxy.proxyprovider, [name, provider-immich]]