version: 1
metadata:
  name: Rakkib - Jellyfin Proxy
entries:
  - model: authentik_providers_proxy.proxyprovider
    state: present
    identifiers:
      name: provider-jellyfin
    attrs:
      name: provider-jellyfin
      authorization_flow: !Find [authentik_flows.flow, [slug, default-provider-authorization-explicit-consent]]
      invalidation_flow: !Find [authentik_flows.flow, [slug, default-provider-invalidation-flow]]
      external_host: "https://{{JELLYFIN_SUBDOMAIN}}.{{DOMAIN}}"
      mode: forward_single

  - model: authentik_core.application
    state: present
    identifiers:
      slug: jellyfin
    attrs:
      name: Jellyfin
      slug: jellyfin
      provider: !Find [authentik_providers_proxy.proxyprovider, [name, provider-jellyfin]]