services:
  nocodb:
    image: nocodb/nocodb:2026.05.0
    container_name: nocodb
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - {{DATA_ROOT}}/data/nocodb:/usr/app/data
    networks:
      - {{DOCKER_NET}}

networks:
  {{DOCKER_NET}}:
    external: true
