services:
  glances:
    image: nicolargo/glances:4.5.4-full
    container_name: glances
    restart: unless-stopped
    pid: host
    env_file: .env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - {{DOCKER_NET}}

networks:
  {{DOCKER_NET}}:
    external: true
