services:
  cyberchef:
    image: ghcr.io/gchq/cyberchef:11.0.0
    container_name: cyberchef
    restart: unless-stopped
    networks:
      - {{DOCKER_NET}}

networks:
  {{DOCKER_NET}}:
    external: true
