# Cloudflared configuration is stored in tunnel credentials.
# Tunnel UUID and credentials are in {{DATA_ROOT}}/data/cloudflared/.
TUNNEL_UUID={{TUNNEL_UUID}}
CLOUDFLARED_METRICS_PORT={{CLOUDFLARED_METRICS_PORT}}
ADMIN_UID={{ADMIN_UID}}
ADMIN_GID={{ADMIN_GID}}
