services:
  rsshub:
    image: diygod/rsshub:chromium-bundled-2026-05-14
    container_name: rsshub
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - rsshub-redis
      - rsshub-browserless
    networks:
      - {{DOCKER_NET}}

  rsshub-redis:
    image: redis:7-alpine
    container_name: rsshub-redis
    restart: unless-stopped
    volumes:
      - {{DATA_ROOT}}/data/rsshub/redis:/data
    networks:
      - {{DOCKER_NET}}

  rsshub-browserless:
    image: browserless/chrome:1.61.1-chrome-stable
    container_name: rsshub-browserless
    restart: unless-stopped
    environment:
      - MAX_CONCURRENT_SESSIONS=5
      - PREBOOT_CHROME=true
      - CONNECTION_TIMEOUT=600000
    networks:
      - {{DOCKER_NET}}

networks:
  {{DOCKER_NET}}:
    external: true
