services:
  gitea:
    image: gitea/gitea:1.26.1
    container_name: gitea
    restart: unless-stopped
    env_file: .env
    volumes:
      - {{DATA_ROOT}}/data/gitea:/data
    networks:
      - {{DOCKER_NET}}

networks:
  {{DOCKER_NET}}:
    external: true
