services:
  caddy:
    image: caddy:2
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - {{DATA_ROOT}}/docker/caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - {{DATA_ROOT}}/docker/caddy/routes:/etc/caddy/routes:ro
      - {{DATA_ROOT}}/data/caddy/data:/data
      - {{DATA_ROOT}}/data/caddy/config:/config
      - {{DATA_ROOT}}/apps/static:{{DATA_ROOT}}/apps/static:ro
    networks:
      - {{DOCKER_NET}}

networks:
  {{DOCKER_NET}}:
    external: true
