# FreshRSS environment file
# Docs: https://hub.docker.com/r/freshrss/freshrss

# A timezone from http://php.net/timezones (default is UTC)
TZ=UTC

# Optional: run the built-in cron to refresh feeds at these minutes.
# Example: twice per hour.
CRON_MIN=2,32

# Optional: set to development for extra logs (default is production)
FRESHRSS_ENV=production
