services:
  freshrss:
    image: freshrss/freshrss:latest
    container_name: freshrss
    restart: unless-stopped
    env_file: .env
    volumes:
      - {{DATA_ROOT}}/data/freshrss/data:/var/www/FreshRSS/data
      - {{DATA_ROOT}}/data/freshrss/extensions:/var/www/FreshRSS/extensions
    networks:
      - {{DOCKER_NET}}

networks:
  {{DOCKER_NET}}:
    external: true
