# Beszel Hub environment
# See: https://beszel.dev/guide/environment-variables

# URL of the hub used for links in notifications/emails.
{% if EXPOSURE_MODE == "cloudflare" %}
APP_URL=https://{{BESZEL_SUBDOMAIN}}.{{DOMAIN}}
{% else %}
APP_URL=http://{{LAN_IP | default('127.0.0.1', true)}}:13031
{% endif %}

# Optional
# CHECK_UPDATES=false
# CONTAINER_DETAILS=true
